<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>index</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="static/style.css">
<style>
</style>
<body>
  <img class="backgr" src=""     alt="chaps4days" >
  <h1 class="hoofdtext" >Hapje van de dag</h1>
  
    
  <div class="zoekding">

  
    <form action="/get_weather" method="get">
    <label for="stad">Voer uw stad in: </label>
      
    <input type="text" name="stad" id="stad" value="the Hague">
      
    <input type="submit" disabeled value="verzend" />
  </div> 
  
  
    
  <p>Gemaakt door Sjakie de Kler</p>

  <script src="static/code.js" type="module"> </script>

 
</body>
</html>